<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Stock's Inventory - Total PC</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	    <a class="navbar-brand mr-auto" href="#">Total PC - Stock Control</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
  </nav>

  <!-- Page Content -->

    <main role="main" class="container">
        <div class="container bg-info">
            <div class="table-wrapper">
                <div class="table-title bg-dark">
                    <div class="row">
                        <div class="col-sm-6 bg-dark">
                            <h2>Inventory - <b>General</b></h2>							
                        </div>									
                    </div>				
                </div>                                        
                <div class="table-responsive">  
                    <div id="stocktable" class="col-lg-12 text-center"></div>
                </div>
            </div>
        </div>
    </main>   

  <!-- Bootstrap core JavaScript -->
  <script src="jquery/jquery.min.js"></script>
  <script src="css/bootstrap.min.js"></script>
  <script src="js/table.js"></script>

</body>

</html>
