<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Stock's Inventory - Total PC</title>

	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <link href="css/inventory.css" rel="stylesheet">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand mr-auto" href="#">Total PC - Stock Control</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
	</nav>

	<!-- Page Content -->
	<main role="main" class="container">
		<div class="jumbotron jumbotron-fluid-center">
			<div class="container">
                <br><h3 class="display-5 text-center"><b>Stock Item Management</b></h3>
			</div>
		</div>
		<div class="container bg-info">
			<div class="table-wrapper">
				<div class="table-title bg-dark">
					<div class="row">
						<div class="col-sm-4 bg-dark">
							<h2>Inventory - <b>General</b></h2>
							<button id="delete" class="btn btn-block btn-danger" disabled>Delete Item</button>							
							<p class="text-muted">To delete an Stock Item, select the Item first!!</p>
						</div>
						<div class="col-sm-4 bg-dark">
							<h2>Inventory - <b>New Stock Item</b></h2>
							<button id="addnew" class="btn btn-block btn-primary">Add Item</button>
							<form id="formhidden" style="display:none" action="/item"
								method="POST" name="formadd">
								<div class="form-row align-items-center">
									<div class="col-auto">
                                        <br>
										<select class="form-control mb-2" name="section">
                                            <option value="Hardware">Hardware</option>
                                            <option value="Software">Software</option>                                                                  
                                        </select>
									</div>
									<div class="col-auto">
										<label class="sr-only" for="inlineFormInput">Name</label>
										<input type="text" class="form-control mb-2" name ="name" placeholder="Name">
                                    </div>
									<div class="col-auto">
										<label class="sr-only" for="inlineFormInput">Type</label>
										<input type="text" class="form-control mb-2" name ="type" placeholder="Type">
                                    </div>
									<div class="col-auto">
										<label class="sr-only" for="inlineFormInput">Description</label>
										<input type="text" class="form-control mb-2" name="description" placeholder="Description">
                                    </div>
									<div class="col-auto">
										<label class="sr-only" for="inlineFormInput">Provider</label>
										<input type="text" class="form-control mb-2" name = "vendor" placeholder="Vendor">
                                    </div>
									<div class="col-auto">
										<label class="sr-only" for="inlineFormInput">Quantity</label>
										<input type="number" min="0" max="10000" class="form-control mb-2" name= "quantity" placeholder="Quantity">
                                    </div>
									<div class="col-auto">
										<label class="sr-only" for="inlineFormInput">Cost</label>
										<input type="number" step="0.01" min="0" max="10000" class="form-control mb-2" name="cost" placeholder="Cost">
                                    </div>
									<div class="col-auto">
										<button type="submit" class="btn btn-primary mb-2">ADD</button>
									</div>
								</div>
							</form>
						</div>
                        <div class="col-sm-4 bg-dark">
							<h2>Stock Item - <b>Edit</b></h2>
							<button id="edit" data-toggle="modal" data-target="#updateStock" class="btn btn-block btn-success" disabled>Edit Item</button>							
							<p class="text-muted">To delete an Stock Item, select the Item first!!</p>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<div id="resultable"></div>
				</div>
			</div>
		</div>
		<!-- EDIT QUANTITY -->
        <div id="updateStock" class="modal fade">
		    <div class="modal-dialog">
                <div class="modal-content">
                    <form method = "POST" action = "/itemupdate" id="modelform" name="formaddmodel">
                        <div class="modal-header">
                            <h4 class="modal-title">EDIT - <b>Stock Item</b></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="col-auto">
                                        <br>
										<select class="form-control mb-2" name="section" id= "sectionmodel">
                                            <option value="Hardware">Hardware</option>
                                            <option value="Software">Software</option>                                                                  
                                        </select>
									</div>
									<div class="col-auto">
										<label class="sr-only" for="inlineFormInput">Name</label>
										<input type="text" class="form-control mb-2" id = "namemodel" name ="name" placeholder="Name">
                                    </div>
									<div class="col-auto">
										<label class="sr-only" for="inlineFormInput">Type</label>
										<input type="text" class="form-control mb-2" id= "typemodel" name ="type" placeholder="Type">
                                    </div>
									<div class="col-auto">
										<label class="sr-only" for="inlineFormInput">Description</label>
										<input type="text" class="form-control mb-2" id = "descriptionmodel" name="description" placeholder="Description">
                                    </div>
									<div class="col-auto">
										<label class="sr-only" for="inlineFormInput">Provider</label>
										<input type="text" class="form-control mb-2" id= "vendormodel" name = "vendor" placeholder="Vendor">
                                    </div>
									<div class="col-auto">
										<label class="sr-only" for="inlineFormInput">Quantity</label>
										<input type="number" min="0" max="10000" class="form-control mb-2" id= "quantitymodel" name= "quantity" placeholder="Quantity">
                                    </div>
									<div class="col-auto">
										<label class="sr-only" for="inlineFormInput">Cost</label>
										<input type="number" step="0.01" min="0" max="10000" class="form-control mb-2" id= "costmodel" name="cost" placeholder="Cost">
                                    </div>
									<div class="col-auto">
										<button id="editSubmit" class="btn btn-block btn-success">Edit Item</button>
									</div>                            	
                        </div>
                    </form>
                </div>
		    </div>
        </div>
        
	</main>

	<!-- Bootstrap core JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="jquery/jquery.min.js"></script>
	<script src="css/bootstrap.css"></script>
	<script src="js/table.js"></script>
    <script src="js/json2html.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    

</body>

</html>